<div class="container">
  <h1>Hi, <%= @user.name %></h1><br><br>
  <!-- use current user helper method instead of @user -->
  <p>Account created at: <%=  @user.created_at%></p>

  <h4>Surveys Created:</h4>

  <% if @user.surveys.length == 0 %>
    <p>You've created no surveys yet!</p>
  <% else %>
    <!-- <ul> -->
  <% @user.surveys.each do |survey| %>
      <a href="/surveys/<%= survey.key %>"><%= survey.name %> </a><br/><br>
      <a href="/results/<%= survey.id %>">See Results of <%= survey.name %></a><br><br><br>
  <% end  %>
  <!-- </ul> -->
  <% end %>
</div>
